<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mad_assignment">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/milk_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mad_Assignment">

        <activity android:name=".ProfileUpdateDelete"/>


        <activity android:name=".MyOrdresUpdateDelete" />

        <activity android:name=".MyOrders"
            android:parentActivityName=".CustomerDashboard"
            android:label="My Orders"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar">
        </activity>
        <activity android:name=".CustomerBuyProduct" />

        <activity android:name=".CustommerProductList"
            android:parentActivityName=".CustomerDashboard"
            android:label="Available Products"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar">

        </activity>
        <activity android:name=".CustomerDashboard" />

        <activity android:name=".AdminProductUpdate" />

        <activity android:name=".Add_Product"/>

        <activity android:name=".Admin_CustomerProductList"
            android:parentActivityName=".AdminDashBoard"
            android:label="Product List"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar">

        </activity>

        <activity android:name=".AdminDashBoard"/>


        <activity android:name=".signup" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>